.rkm_ctx{
    position: fixed;
    overflow: hidden;
}
.rkm_item{
    list-style: none;
    text-align: left;
    padding: 0 12px;
    min-width: fit-content;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}